registry=https://registry.npmmirror.com
fetch-retries=5
fetch-timeout=120000
esbuild_binary_host=https://npmmirror.com/mirrors/esbuild
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
